.modal-header{
    background-color: #222d32;
    padding: 8px;
}
.modal-title{
    text-align:center;
    color: #FFFFFF;
}
.modal-dialog{
    color: #e4e4e4;
    width: 500px;
    height: 800px;
    font-size: 18px;
}
.label{
    color: #000000;
}