<?template "header.html".?>
<link rel="stylesheet" href="../cdn/plugins/bootstrap-table/bootstrap-table.min.css">
<link rel="stylesheet" href="../cdn/plugins/select2/select2.min.css">
<link rel="stylesheet" href="../cdn/dist/css/AdminLTE.min.css">
<script src="../cdn/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../cdn/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
<script src="../cdn/plugins/select2/select2.min.js"></script>
<script src="../cdn/plugins/select2/i18n/zh-CN.js"></script>
<script src="../cdn/js/power/index.js"></script>
<?template "power/left.html".?>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            用户权限管理
            <small>管理所有用户拥有的角色</small> </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"><button id="addpower" onclick='powerindex.AddPower("+value+")' class='btn btn-primary' style="display:none">添加权限</button></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="mytable" class="table table-bordered table-hover">
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>

    </section>
    <!-- /.content -->
</div>

<!--添加权限-->
<div class="modal" id="AddPowerDialog" role="dialog"  aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">添加权限</h4>
            </div>
            <div class="modal-body">

                <form id = "AddPowerForm" role="form">
                    <div class="form-group">
                        <label class="label">用户</label>
                        <select id = "UserId" DataKey = "UserId" datatype="int" class="form-control select2" style="width: 100%;"></select>
                    </div>
                    <div class="form-group">
                        <label class="label">角色</label>
                        <select id = "RoleId" DataKey = "RoleId" datatype="int" class="form-control select2" style="width: 100%;"></select>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button onclick="powerindex.OnAddPowerClick()" type="button" class="btn btn-primary">添加</button>
            </div>
            <div id = "AddPowermessageBox" class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!--删除角色-->
<div class="modal" id="DelDialog" role="dialog"  aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">确定要删除吗?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button onclick="powerindex.OnDelClick()" type="button" class="btn btn-danger" data-dismiss="modal">确认删除</button>
            </div>
        </div>
    </div>
</div>

<!-- /.content-wrapper -->
<?template "footer.html".?>
