<?template "header.html".?>
<link rel="stylesheet" href="../cdn/plugins/bootstrap-table/bootstrap-table.min.css">
<script src="../cdn/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../cdn/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
<script src="../cdn/js/power/rolepower.js"></script>
<?template "power/left.html".?>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id = "h_title">
            ---
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <a href="role.html" class='btn btn-default'>返回角色列表</a>
        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="width:50%;float:left;">
                    <div class="box-header">
                        <h3 class="box-title">可添加的权限</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" >
                        <table id="mytable2" class="table table-bordered table-hover">
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box" style="width:50%;float:left;">
                    <div class="box-header">
                        <h3 class="box-title">已经添加的权限</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" >
                        <table id="mytable" class="table table-bordered table-hover">
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>

    </section>
    <!-- /.content -->
</div>

<!--添加角色-->
<div class="modal" id="AddDialog" role="dialog"  aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">添加角色</h4>
            </div>
            <div class="modal-body">

                <form id = "AddForm" role="form">
                    <div class="form-group">
                        <label class="label">角色名称</label>
                        <input DataKey = "RoleName" class="form-control" style="width: 100%;">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button onclick="role.OnAddClick()" type="button" class="btn btn-primary">添加</button>
            </div>
            <div id = "AddmessageBox" class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!--删除角色-->
<div class="modal" id="DelDialog" role="dialog"  aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">确定要删除吗?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button onclick="role.OnDelClick()" type="button" class="btn btn-danger" data-dismiss="modal">确认删除</button>
            </div>
        </div>
    </div>
</div>

<!-- /.content-wrapper -->
<?template "footer.html".?>
