<!-- Main Footer -->
<footer id = "footer" class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        零部件成熟度管理系统
    </div>

    <strong>Copyright &copy; 2017</strong> 浙江合众新能源汽车有限公司 版权所有
</footer>


<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
</div>

<!-- 弹窗 -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div id = "dialogBody" class="modal-body" style="color: #0c0c0c">
            </div>
            <!--<div class="modal-footer">-->
            <!--<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>-->
            <!--<button type="button" class="btn btn-outline">Save changes</button>-->
            <!--</div>-->
        </div>
    </div>
</div>
</body>
</html>
