<?template "header.html".?>
<link rel="stylesheet" href="../cdn/plugins/bootstrap-table/bootstrap-table.min.css">
<link rel="stylesheet" href="../cdn/plugins/select2/select2.min.css">
<link rel="stylesheet" href="../cdn/dist/css/AdminLTE.min.css">
<link href="../cdn/plugins/jquery-treegrid-master/css/jquery.treegrid.css" rel="stylesheet" />
<script src="../cdn/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../cdn/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
<script src="../cdn/plugins/select2/select2.min.js"></script>
<script src="../cdn/plugins/select2/i18n/zh-CN.js"></script>
<script src="../cdn/plugins/jquery-treegrid-master/js/jquery.treegrid.min.js"></script>
<script src="../cdn/plugins/jquery-treegrid-master/js/jquery.treegrid.bootstrap3.js"></script>
<script src="../cdn/plugins/jquery-treegrid-master/js/jquery.treegrid.extension.js"></script>
<script src="../cdn/js/user/department.js"></script>
<?template "user/left.html".?>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        部门管理
      </h1>

    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="mytable" class="table table-bordered table-hover"></table>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<!--修改部门信息-->
<div class="modal" id="UpInfoDialog" role="dialog"  aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">部门信息</h4>
      </div>
      <div class="modal-body">

        <form id = "UpInfoForm" role="form">
          <div class="form-group">
            <label class="label">部门名称</label>
            <input DataKey = "Name" type="text" maxlength="64" class="form-control">
          </div>
          <div class="form-group">
            <label class="label">上级部门</label>
            <select id = "FatherID" DataKey = "FatherID" datatype="int" data-to-view-func = "department.FatherIDToView" class="form-control select2" type="text"></select>
          </div>
          <div class="form-group">
            <label class="label">创建时间</label>
            <input  DataKey = "CreatTime" type="text" class="form-control" disabled="">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
        <button onclick="department.OnUpdateSaveClick()" type="button" class="btn btn-primary">保存</button>
      </div>
      <div id = "UpInfomessageBox" class="modal-footer">
      </div>
    </div>
  </div>
</div>

<!--删除部门-->
<div class="modal" id="DelDialog" role="dialog"  aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">确定要删除吗?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
        <button onclick="department.OkDelClick()" type="button" class="btn btn-danger" data-dismiss="modal">确认删除</button>
      </div>
    </div>
  </div>
</div>

<!--新建部门-->
<div class="modal" id="AddDialog" role="dialog"  aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">新建部门</h4>
      </div>
      <div class="modal-body">

        <form id = "AddForm" role="form">
          <div class="form-group">
            <label class="label">部门名称</label>
            <input DataKey = "Name" type="text" maxlength="64" class="form-control">
          </div>
          <div class="form-group">
            <label class="label">上级部门</label>
            <select id = "AddFatherID" DataKey = "FatherID" datatype="int" data-to-view-func = "department.FatherIDToView" class="form-control select2" type="text"></select>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
        <button onclick="department.OnAdd()" type="button" class="btn btn-primary">保存</button>
      </div>
      <div id = "AddmessageBox" class="modal-footer">
      </div>
    </div>
  </div>
</div>

<?template "footer.html".?>