<?template "header.html".?>
<link rel="stylesheet" href="../cdn/plugins/bootstrap-table/bootstrap-table.min.css">
<link rel="stylesheet" href="../cdn/plugins/bootstrapSwitch/bootstrap-switch.min.css">
<link rel="stylesheet" href="../cdn/plugins/select2/select2.min.css">
<link rel="stylesheet" href="../cdn/dist/css/AdminLTE.min.css">
<script src="../cdn/plugins/bootstrapSwitch/bootstrap-switch.min.js"></script>
<script src="../cdn/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../cdn/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
<script src="../cdn/plugins/select2/select2.min.js"></script>
<script src="../cdn/plugins/select2/i18n/zh-CN.js"></script>
<script src="../cdn/plugins/clipboard/clipboard.min.js"></script><!--赋值到剪贴板-->
<script src="../cdn/js/user/index.js"></script>
<?template "user/left.html".?>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            所有用户
            <small>管理所有用户</small> </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"><button id = "reguser" onclick='userindex.Add("+value+")' class='btn btn-primary' style="display:none">新建用户</button></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="mytable" class="table table-bordered table-hover">
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>

    </section>
    <!-- /.content -->
</div>

<!--修改用户信息-->
<div class="modal" id="UpInfoDialog" role="dialog"  aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">用户信息</h4>
            </div>
            <div class="modal-body">

                <form id = "UpInfoForm" role="form">
                    <div class="form-group">
                        <label class="label">工号</label>
                        <input DataKey = "JobNumber" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="label">姓名</label>
                        <input DataKey = "Name" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="label">邮箱</label>
                        <input DataKey = "Email" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="label">电话</label>
                        <input DataKey = "Phone" type="text" maxlength = "11" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="label">部门</label>
                        <select id = "DepartmentID" DataKey = "DepartmentID" datatype="int" data-to-view-func = "userindex.DepartmentIDToView" class="form-control select2" style="width: 100%;">
                        </select>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label class="label">是否停用</label>
                        <input name = "stop-checkbox" DataKey = "IsStop" datatype="bool" data-to-view-func = "userindex.IsStopToView" view-to-data-func = "userindex.IsStopToData" data-on-color="danger" data-off-color="primary" data-on-text="停用" data-off-text="启用" type="checkbox" />
                    </div>
                    <!--<div class="form-group">-->
                        <!--<input   datatype = "bool" type="text" class="form-control">-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="label">注册时间</label>
                        <input DataKey = "RegTime" type="text" class="form-control" disabled="">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button id= "reset" onclick="userindex.Reset()" type="button" class="btn btn-primary" style="display:none">重置密码</button>
                <button id= "upuser" onclick="userindex.OnSaveClick()" type="button" class="btn btn-primary" style="display:none">保存</button>
            </div>
            <div id = "UpInfomessageBox" class="modal-footer">
            </div>
            <div id = "ResetSuccessForm" class="box">
                <div class="box-header">
                    <h3 class="box-title">重置后密码:</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tr>
                            <th>密码</th>
                        </tr>
                        <tr>
                            <td id = "ResetSuccessPassword" style="color: red;">---</td>
                            <td style="width: 15%">
                                <a id = "resetcopybtn" tabindex="0" role="button" data-clipboard-text="123" data-trigger="focus" class="btn btn-default" title="">复制</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</div>

<!--添加用户信息-->
<div class="modal" id="AddDialog" role="dialog"  aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">新建用户</h4>
            </div>
            <div class="modal-body">

                <form id = "AddForm" role="form">
                    <div class="form-group">
                        <label class="label">工号</label>
                        <input DataKey = "JobNumber" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="label">姓名</label>
                        <input DataKey = "Name" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="label">电话</label>
                        <input DataKey = "Phone" type="text" maxlength = "11" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="label">部门</label>
                        <select id = "AddDepartmentID" DataKey = "DepartmentID" datatype="int" data-to-view-func = "userindex.DepartmentIDToView" class="form-control select2" style="width: 100%;">
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="label">角色</label>
                        <select id = "RoleID" DataKey = "RoleID" datatype="int" data-to-view-func = "userindex.RoleIDToView" class="form-control select2" style="width: 100%;">
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="label">邮箱(注册后发送账号密码到这个邮箱,不修改不发送邮件)</label>
                        <input DataKey = "Email" type="text" maxlength = "128" class="form-control" value="@hozonauto.com">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button onclick="userindex.OnAdd()" type="button" class="btn btn-primary">新建</button>
            </div>
            <div id = "AddmessageBox" class="modal-footer">
            </div>

            <div id = "AddSuccessForm" class="box">
                <div class="box-header">
                    <h3 class="box-title">新用户信息:</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tr>
                            <th class="label">工号</th>
                            <th class="label">密码</th>
                        </tr>
                        <tr>
                            <td id = "AddSuccessJobNumber" style="color: red;">---</td>
                            <td id = "AddSuccessPassword" style="color: red;">---</td>
                            <td style="width: 15%">
                                <a id = "copybtn" tabindex="0" role="button" data-clipboard-text="123" data-trigger="focus" class="btn btn-default" title="">复制</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</div>

<!-- /.content-wrapper -->
<?template "footer.html".?>
