<script src="../cdn/js/user/left.js"></script>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="../cdn/dist/img/user2-160x160.jpg" class="img-circle" alt="UserImage">
            </div>
            <div class="pull-left info">
                <p id="LeftName"></p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
            </div>
        </div>

        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">功能</li>
            <!-- Optionally, you can add icons to the links -->
            <li id = "LeftAllUser"><a href="/user"><i class="fa fa-users"></i> <span>所有用户</span></a></li>
            <li id = "Leftdepartment" style="display:none"><a href="department.html"><i class="fa fa-university"></i> <span>部门管理</span></a></li>
            <!--<li id = ""><a href="#"><i class="fa fa-file-o"></i> <span>新增部门/人员</span></a></li>-->
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
<!-- Default to the left -->