<?template "header.html".?>
<link rel="stylesheet" href="../../cdn/plugins/bootstrap-table/bootstrap-table.min.css">
<link rel="stylesheet" href="../../cdn/plugins/select2/select2.min.css">
<!-- bootstrap datepicker -->
<link rel="stylesheet" href="../../cdn/plugins/datepicker/datepicker3.css">
<link rel="stylesheet" href="../../cdn/dist/css/AdminLTE.min.css">
<script src="../../cdn/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../../cdn/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
<script src="../../cdn/plugins/select2/select2.full.min.js"></script>
<script src="../../cdn/plugins/select2/i18n/zh-CN.js"></script>
<script src="../../cdn/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="../../cdn/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js" charset="UTF-8"></script>
<?template "project/part/infoleft.html".?>
<script src="../../cdn/js/project/part/cam.js?v=2.0"></script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" >
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 id="htitle">

        </h1>
        <button id = "btnSave" style="display:none" onclick="page.Save()" type="button" class="btn btn-primary">保存</button>
    </section>

    <!-- Main content -->
    <section id="scrollContent" class="content" style="height: 10px;width:100%;overflow:auto;">
        <div class="modal-content">
            <div class="box box-default">
                <div id="BaseForm" >

                </div>
            </div>
        </div>
    </section>

    <!-- /.content -->
</div>


<!-- /.content-wrapper -->
<?template "footer.html".?>
