<?template "header.html".?>
<link rel="stylesheet" href="../../cdn/plugins/bootstrap-table/bootstrap-table.min.css">
<link rel="stylesheet" href="../../cdn/plugins/select2/select2-fix-3.min.css">
<link rel="stylesheet" href="../../cdn/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="../../cdn/plugins/daterangepicker/daterangepicker.css">
<script src="../../cdn/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../../cdn/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
<script src="../../cdn/plugins/select2/select2-fix-3.min.js"></script>
<script src="../../cdn/plugins/select2/i18n/zh-CN.js"></script>
<script src="../../cdn/plugins/daterangepicker/moment.min.js"></script>
<script src="../../cdn/plugins/daterangepicker/zh-cn.js"></script>
<script src="../../cdn/plugins/daterangepicker/daterangepicker.js"></script>
<script src="../../cdn/js/project/part/history.js?v=2.0"></script>
<?template "project/part/left.html".?>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            查询操作历史
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div id = "wheres" >
                    <div class="box-header">
                            <div class="form-group">
                                <label>筛选字段<i class="fa fa-fw fa-question-circle" data-toggle="tooltip" title="可以选择多个需要筛选的字段,不选则显示全部的字段修改记录"></i></label>
                                <select id = "s2base" DataKey = "Field" class="form-control select2" multiple="multiple" data-placeholder="请选择要显示的字段" style="width: 100%;">
                                </select>
                            </div>
                        <table  class="table table-striped row" style="margin-left: 2px">
                            <tr>
                                <th style="width: 10%">时间范围<a href="#" onclick="page.reservationtimeClear()"><br>清空</a></th>
                                <th style="width: 47%">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <input id="reservationtime" type="text" DataKey = "RangeTime" class="form-control pull-right">
                                    </div>
                                </th>
                                <th style="width: 7%">零件</th>
                                <th style="width: 36%">
                                    <select id = "PartId"  DataKey = "PartId"  datatype="int" class="select2 form-control" type="text"></select>
                                </th>
                            </tr>
                            <tr>
                                <th >修改人</th>
                                <th>
                                    <select id = "UpUserJobNumber"  DataKey = "UpUserJobNumber"   class="select2 form-control" type="text"></select>
                                </th>
                                <th >操作类型</th>
                                <th>
                                    <select id = "Type" DataKey = "Type"  datatype="int" class="select2 form-control" type="text">
                                        <option value="">全部</option>
                                        <option value="1">修改</option>
                                        <option value="2">删除</option>
                                    </select>
                                </th>
                            </tr>
                        </table>

                            <!-- /.form-group -->
                            <div class="form-group">
                                <button onclick='page.Reset()' class='btn btn-danger pull-left'>重置</button>
                                <button onclick='page.Search()' class='btn btn-primary pull-right'>查询</button>
                            </div>
                    </div>

                    <!-- /.box-header -->
                    <div id = "basetable" class="box-body">
                        <table id="mytable" class="table table-bordered table-hover">
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<?template "footer.html".?>
