<?template "header.html".?>
<link rel="stylesheet" href="../../cdn/plugins/bootstrap-table/bootstrap-table.min.css">
<link rel="stylesheet" href="../../cdn/plugins/select2/select2.min.css">
<link rel="stylesheet" href="../../cdn/dist/css/AdminLTE.min.css">
<script src="../../cdn/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../../cdn/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
<script src="../../cdn/plugins/select2/select2.min.js"></script>
<script src="../../cdn/plugins/select2/i18n/zh-CN.js"></script>
<?template "project/part/left.html".?>
<script src="../../cdn/js/project/part/index.js?v=2.0"></script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            零件列表
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 id="addOrImport" class="box-title" style="display:none" ><button onclick='partindex.Add("+value+")' class='btn btn-primary'>添加零件</button>&nbsp;&nbsp;<button onclick='partindex.Import("+value+")' class='btn btn-primary'>导入零件</button></h3>
                        <table  id = "wheres" class="table table-striped row" style="margin-left: 2px">
                            <tr>
                                <th style="width: 7%">零件号<i class="fa fa-fw fa-question-circle" data-toggle="tooltip" title="可按照零件号进行模糊搜索"></i></th>
                                <th style="width: 18%">
                                    <input DataKey = "PartCode" type="text" class="form-control">
                                </th>
                                <th style="width: 7%">零件名称<i class="fa fa-fw fa-question-circle" data-toggle="tooltip" title="可按照零件名称进行模糊搜索"></i></th>
                                <th style="width: 18%">
                                    <input DataKey = "Name" type="text" class="form-control">
                                </th>
                                <th style="width: 7%">所属专业</th>
                                <th style="width: 18%">
                                    <select id = "ProfessionId"  DataKey = "ProfessionId"  datatype="int" class="select2 form-control" type="text"></select>
                                </th>
                                <th style="width: 7%">开发类型</th>
                                <th style="width: 18%">
                                    <select id = "DevelopmentTypeId" DataKey = "DevelopmentTypeId"  datatype="int" class="form-control select2" type="text"></select>
                                </th>
                            </tr>
                            <tr >
                                <th >设计工程师</th>
                                <th>
                                    <select id = "DesignerEngId"  DataKey = "DesignerEngId"  datatype="int" class="select2 form-control" type="text"></select>
                                </th>
                                <th >采购工程师</th>
                                <th>
                                    <select id = "BuyerEngId"  DataKey = "BuyerEngId"  datatype="int" class="select2 form-control" type="text"></select>
                                </th>
                                <th >SQE工程师</th>
                                <th>
                                    <select id = "SQEEngId"  DataKey = "SQEEngId"  datatype="int" class="select2 form-control" type="text"></select>
                                </th>
                                <th >试验工程师</th>
                                <th>
                                    <select id = "TestEngId" DataKey = "TestEngId"  datatype="int" class="form-control select2" type="text"></select>
                                </th>
                            </tr>
                            <tr >
                                <th >工艺工程师</th>
                                <th>
                                    <select id = "CrefftauEngId"  DataKey = "CrefftauEngId"  datatype="int" class="select2 form-control" type="text"></select>
                                </th>
                            </tr>
                        </table>
                        <div class="form-group">
                            <button onclick='partindex.Reset()' class='btn btn-danger pull-left'>重置</button>
                            <button id = "btnUpdate" onclick='partindex.Update()' class='btn btn-primary pull-left' style="margin-left: 10px;display:none">批量修改工程师</button>
                            <button onclick='partindex.Search()' class='btn btn-primary pull-right'>查询</button>

                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="mytable" class="table table-bordered table-hover">
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>

    </section>
    <!-- /.content -->
</div>

<!--添加-->
<div class="modal" id="AddDialog" role="dialog"  aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">添加零件</h4>
            </div>
            <div class="modal-body">

                <form id = "AddForm" role="form">
                    <div class="form-group">
                        <label class="label">所属专业</label>
                        <select id = "AddProfessionId" DataKey = "ProfessionId" datatype="int" class="form-control select2" type="text"></select>
                    </div>
                    <div class="form-group">
                        <label class="label">零件名称</label>
                        <input DataKey = "Name" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="label">零件号</label>
                        <input DataKey = "PartCode" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="label">箭头系统</label>
                        <select id = "AddArrowSystemId" DataKey = "ArrowSystemId" datatype="int" class="form-control select2" type="text"></select>
                    </div>
                    <div class="form-group">
                        <label class="label">单车用量</label>
                        <input DataKey = "SingleUseNum" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="label">设计工程师</label>
                        <select id = "AddDesignerEngId" DataKey = "DesignerEngId" datatype="int" class="form-control select2" type="text"></select>
                    </div>
                    <div class="form-group">
                        <label class="label">采购工程师</label>
                        <select id = "AddBuyerEngId" DataKey = "BuyerEngId" datatype="int" class="form-control select2" type="text"></select>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label>供应商商务</label>-->
                        <!--<input DataKey = "SupplierBusnes" class="form-control" type="text">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label>供应商技术</label>-->
                        <!--<input DataKey = "SupplierTec" class="form-control" type="text">-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="label">SQE工程师</label>
                        <select id = "AddSQEEngId" DataKey = "SQEEngId" datatype="int" class="form-control select2" type="text"></select>
                    </div>
                    <div class="form-group">
                        <label class="label">工艺工程师</label>
                        <select id = "AddCrefftauEngId" DataKey = "CrefftauEngId" datatype="int" class="form-control select2" type="text"></select>
                    </div>
                    <div class="form-group">
                        <label class="label">试验工程师</label>
                        <select id = "AddTestEngId" DataKey = "TestEngId" datatype="int" class="form-control select2" type="text"></select>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button onclick="partindex.OnAdd()" type="button" class="btn btn-primary">添加</button>
            </div>
            <div id = "AddmessageBox" class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!--导入零件-->
<div class="modal" id="ImportDialog" role="dialog"  aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content box">
            <div class='overlay'><i class='fa fa-refresh fa-spin'></i></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">导入零件</h4>
            </div>
            <div class="modal-body">
                <form id = "ImportForm" role="form" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="excel" class="label">选择模版</label>
                        <input type="text" id="ImportProjectId" name="ProjectId" />
                        <input type="text" id="ImportToken" name="Token" />
                        <input type="file" id="excel" name="excel"/>
                        <p class="help-block">请按照标准模版导入,<a href="零件导入模版.xlsx">点击下载最新版标准模版</a></p>
                        <p class="help-block"><a id="downloaduser">点击下载人员姓名-工号对应表</a></p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button onclick="partindex.OnImport()" type="button" class="btn btn-danger">导入</button>
            </div>
            <div id = "ImportmessageBox" class="modal-footer"></div>
        </div>
    </div>
</div>

<!--删除零件-->
<div class="modal" id="DelDialog" role="dialog"  aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">确定要删除吗?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button onclick="partindex.OnDel()" type="button" class="btn btn-danger" data-dismiss="modal">确认删除</button>
            </div>
        </div>
    </div>
</div>

<!--修改-->
<div class="modal" id="UpdateDialog" role="dialog"  aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">修改项目基础信息</h4>
            </div>
            <div class="modal-body">
                <form id = "UpdateForm" role="form">
                    <div class="form-group">
                        <label class="label" id = "updateHint"></label>
                    </div>
                    <div class="form-group">
                        <label class="label">设计工程师</label>
                        <select id = "UpdateDesignerEngId" DataKey = "DesignerEngId" data-to-view-func = "partindex.DesignerEngIdToView" datatype="int" class="form-control select2" type="text"></select>
                    </div>
                    <div class="form-group">
                        <label class="label">采购工程师</label>
                        <select id = "UpdateBuyerEngId" DataKey = "BuyerEngId" data-to-view-func = "partindex.BuyerEngIdToView" datatype="int" class="form-control select2" type="text"></select>
                    </div>
                    <div class="form-group">
                        <label class="label">SQE工程师</label>
                        <select id = "UpdateSQEEngId" DataKey = "SQEEngId" data-to-view-func = "partindex.SQEEngIdToView" datatype="int" class="form-control select2" type="text"></select>
                    </div>
                    <div class="form-group">
                        <label class="label">试验工程师</label>
                        <select id = "UpdateTestEngId" DataKey = "TestEngId" data-to-view-func = "partindex.TestEngIdToView" datatype="int" class="form-control select2" type="text"></select>
                    </div>
                    <div class="form-group">
                        <label class="label">工艺工程师</label>
                        <select id = "UpdateCrefftauEngId" DataKey = "CrefftauEngId" data-to-view-func = "partindex.CrefftauEngIdToView" datatype="int" class="form-control select2" type="text"></select>
                    </div>
                    <div class="form-group">
                        <label class="label">尺寸工程师</label>
                        <select id = "UpdateSizeEngId" DataKey = "SizeEngId"  datatype="int" class="form-control select2" type="text"></select>
                    </div>
                    <div class="form-group">
                        <label class="label">尺寸工程师</label>
                        <select id = "UpdateNewqualityEngId" DataKey = "NewqualityEngId" datatype="int" class="form-control select2" type="text"></select>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button onclick="partindex.OnUpdate()" type="button" class="btn btn-primary">保存</button>
            </div>
            <div id = "UpdatemessageBox" class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- /.content-wrapper -->
<?template "footer.html".?>
