<script src="../../cdn/js/project/part/infoleft.js?v=2.0"></script>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="sidebar-menu">
            <li><a id="backlist" href="#"><i class="fa fa-reply"></i> <span id = "backlistdesc">返回零件列表</span></a></li>
            <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=3>
            <li><a><span>零件号:&nbsp;</span><span id = "leftPartCode"></span></a></li>
            <li><a><span>零件名称:&nbsp;</span><span id = "leftpartname"></span></a></li>
        </div>

        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul id = "leftUl" class="sidebar-menu">
            <li class="header">功能</li>
            <!-- Optionally, you can add icons to the links -->
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
<!-- Default to the left -->