<script src="../../cdn/js/project/part/left.js?v=2.0"></script>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="sidebar-menu">
            <li><a href="/project"><i class="fa fa-reply"></i> <span>返回项目列表</span></a></li>
            <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=3>
            <li><a><span>项目名称:</span><span id = "leftprojectname"></span></a></li>
        </div>

        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">功能</li>
            <!-- Optionally, you can add icons to the links -->
            <li id = "LeftTecEng" style="display:none" ><a href="#"><i class="fa fa-child"></i> <span>整车技术集成工程师</span></a></li>
            <li id = "LeftSystemEng" style="display:none" ><a href="#"><i class="fa fa-user-plus"></i> <span>系统集成经理</span></a></li>
            <li id = "LeftCdtEng" style="display:none" ><a href="#"><i class="fa fa-users"></i> <span>协同开发小组管理员</span></a></li>
            <li id = "LeftPart"><a href="#"><i class="fa fa-cubes"></i> <span>零件列表</span></a></li>
            <li id = "LeftSearch"><a href="#"><i class="fa  fa-search"></i> <span>查询/导出</span></a></li>
            <li id = "LeftHistory"><a href="#"><i class="fa  fa-history"></i> <span>查询操作历史</span></a></li>
            <li id = "LeftStatistics">
                <a href="#">
                    <i class="fa fa-info-circle"></i>
                    <span>统计</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul id = "LeftStatisticsTree" class="treeview-menu">
                    <li id="lpRate" class=""><a href="#"><i class="fa fa-circle-o"></i>完成率</a></li>
                    <li id="lpMaturity" class=""><a href="#"><i class="fa fa-circle-o"></i>成熟度</a></li>
                </ul>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
<!-- Default to the left -->