<?template "header.html".?>
<link rel="stylesheet" href="../../cdn/plugins/bootstrap-table/bootstrap-table.min.css">
<link rel="stylesheet" href="../../cdn/plugins/select2/select2-fix-3.min.css">
<link rel="stylesheet" href="../../cdn/dist/css/AdminLTE.min.css">
<script src="../../cdn/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../../cdn/plugins/bootstrap-table/bootstrap-table-export.js"></script>
<script src="../../cdn/plugins/bootstrap-table/tableExport.min.js"></script>
<script src="../../cdn/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
<script src="../../cdn/plugins/select2/select2-fix-3.min.js"></script>
<script src="../../cdn/plugins/select2/i18n/zh-CN.js"></script>
<script src="../../cdn/plugins/chartjs/Chart.bundle.min.js"></script>
<script src="../../cdn/cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="../../cdn/js/project/part/maturity.js?v=2.0"></script>
<?template "project/part/left.html".?>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            成熟度分布
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div id = "wheres" class="box-header">
                    <table  class="table table-striped row" style="margin-left: 2px">
                        <tr>
                            <th style="width: 10%">阶段</th>
                            <th style="width: 20%">
                                <select id = "Table" DataKey = "Table" class="select2 form-control" type="text">
                                    <option value="Cam1">阶段一</option>
                                    <option value="Cam2">阶段二</option>
                                    <option value="Cam3">阶段三</option>
                                </select>
                            </th>
                            <th style="width: 70%;text-align:center">成熟度状态分布图</th>
                        </tr>
                        <tr>
                            <th >专业</th>
                            <th >
                                <select id = "ProfessionId"  DataKey = "Profession"  datatype="int" class="select2 form-control" type="text"></select>
                            </th>
                            <th style="text-align:center" rowspan="2">
                                <div class="box-body" style="width: 45%;margin-left: auto;margin-right: auto;">
                                    <canvas id="pieChart"></canvas>
                                </div>
                            </th>
                        </tr>
                    </table>

                </div>

                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<?template "footer.html".?>
