<?template "header.html".?>
<link rel="stylesheet" href="../../cdn/plugins/bootstrap-table/bootstrap-table.min.css">
<link rel="stylesheet" href="../../cdn/plugins/select2/select2-fix-3.min.css">
<link rel="stylesheet" href="../../cdn/dist/css/AdminLTE.min.css">
<script src="../../cdn/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../../cdn/plugins/bootstrap-table/bootstrap-table-export.js"></script>
<script src="../../cdn/plugins/bootstrap-table/tableExport.min.js"></script>
<script src="../../cdn/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
<script src="../../cdn/plugins/select2/select2-fix-3.min.js"></script>
<script src="../../cdn/plugins/select2/i18n/zh-CN.js"></script>
<script src="../../cdn/js/project/part/search.js?v=2.0"></script>
<?template "project/part/left.html".?>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            查询
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                            <div class="form-group">
                                <label>需要显示的字段<i class="fa fa-fw fa-question-circle" data-toggle="tooltip" title="可以选择多个需要显示的字段"></i></label>
                                <select id = "s2base" class="form-control select2" multiple="multiple" data-placeholder="请选择要显示的字段" style="width: 100%;">
                                </select>
                            </div>
                        <table  id = "wheres" class="table table-striped row" style="margin-left: 2px">
                            <tr>
                                <th style="width: 7%">零件号<i class="fa fa-fw fa-question-circle" data-toggle="tooltip" title="可按照零件号进行模糊搜索"></i></th>
                                <th style="width: 18%">
                                    <input DataKey = "Part__PartCode" type="text" class="form-control">
                                </th>
                                <th style="width: 7%">零件名称<i class="fa fa-fw fa-question-circle" data-toggle="tooltip" title="可按照零件名称进行模糊搜索"></i></th>
                                <th style="width: 18%">
                                    <input DataKey = "Part__Name" type="text" class="form-control">
                                </th>
                                <th style="width: 7%">所属专业</th>
                                <th style="width: 18%">
                                    <select id = "ProfessionId"  DataKey = "Part__Profession"  datatype="int" class="select2 form-control" type="text"></select>
                                </th>
                                <th style="width: 7%">开发类型</th>
                                <th style="width: 18%">
                                    <select id = "DevelopmentTypeId" DataKey = "Part__DevelopmentType"  datatype="int" class="form-control select2" type="text"></select>
                                </th>
                            </tr>
                            <tr >
                                <th >设计工程师</th>
                                <th>
                                    <select id = "DesignerEngId"  DataKey = "Part__DesignerEng"  datatype="int" class="select2 form-control" type="text"></select>
                                </th>
                                <th >采购工程师</th>
                                <th>
                                    <select id = "BuyerEngId"  DataKey = "Part__BuyerEng"  datatype="int" class="select2 form-control" type="text"></select>
                                </th>
                                <th >SQE工程师</th>
                                <th>
                                    <select id = "SQEEngId"  DataKey = "Part__SQEEng"  datatype="int" class="select2 form-control" type="text"></select>
                                </th>
                                <th >试验工程师</th>
                                <th>
                                    <select id = "TestEngId" DataKey = "Part__TestEng"  datatype="int" class="form-control select2" type="text"></select>
                                </th>
                            </tr>
                            <tr >
                                <th >工艺工程师</th>
                                <th>
                                    <select id = "CrefftauEngId"  DataKey = "Part__CrefftauEng"  datatype="int" class="select2 form-control" type="text"></select>
                                </th>
                            </tr>
                        </table>

                            <!-- /.form-group -->
                            <div class="form-group">
                                <button onclick='page.Reset()' class='btn btn-danger pull-left'>重置</button>
                                <button onclick='page.SelectAll()' class='btn btn-primary pull-left' style="margin-left: 10px;">字段全选(全选字段时,建议每页显示数量尽量少或者增加筛选条件,否则导出可能比较卡)</button>
                                <button onclick='page.Search()' class='btn btn-primary pull-right'>查询</button>
                            </div>
                    </div>

                    <!-- /.box-header -->
                    <div id = "basetable" class="box-body">
                        <table id="mytable" class="table table-bordered table-hover">
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<?template "footer.html".?>
