<?template "header.html".?>
<style>
    canvas{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    #chartjs-tooltip {
        opacity: 1;
        position: absolute;
        background: rgba(0, 0, 0, .7);
        color: white;
        border-radius: 3px;
        -webkit-transition: all .1s ease;
        transition: all .1s ease;
        pointer-events: none;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    .chartjs-tooltip-key {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 10px;
    }
</style>
<link rel="stylesheet" href="../../cdn/plugins/bootstrap-table/bootstrap-table.min.css">
<link rel="stylesheet" href="../../cdn/plugins/select2/select2-fix-3.min.css">
<link rel="stylesheet" href="../../cdn/dist/css/AdminLTE.min.css">
<script src="../../cdn/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../../cdn/plugins/bootstrap-table/bootstrap-table-export.js"></script>
<script src="../../cdn/plugins/bootstrap-table/tableExport.min.js"></script>
<script src="../../cdn/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
<script src="../../cdn/plugins/select2/select2-fix-3.min.js"></script>
<script src="../../cdn/plugins/select2/i18n/zh-CN.js"></script>
<script src="../../cdn/plugins/chartjs/Chart.bundle.js"></script>
<script src="../../cdn/cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="../../cdn/js/project/part/statistics.js?v=2.0"></script>
<?template "project/part/left.html".?>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            统计
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div id = "wheres" >
                    <div class="box-header">
                        <table  class="table table-striped row" style="margin-left: 2px">
                            <tr>
                                <th >阶段</th>
                                <th>
                                    <select id = "Table" DataKey = "Table" class="select2 form-control" type="text">
                                        <option value="Cam0_1">P0-1</option>
                                        <option value="Cam1_2">P1-2</option>
                                        <option value="Cam2_3">P2-3</option>
                                        <option value="Cam3_4">P3-4</option>
                                        <option value="Cam4_5">P4-5</option>
                                        <option value="Cam5_8">P5-8</option>
                                    </select>
                                </th>
                                <th style="visibility: hidden;">占位</th>
                                <th style="visibility: hidden;">
                                    <select class="select2 form-control" type="text">
                                        <option >占位11</option>
                                        <option>占位11</option>
                                        <option >占位11</option>
                                    </select>
                                </th>
                            </tr>
                        </table>
                        <div class="form-group">
                            <label>筛选字段<i class="fa fa-fw fa-question-circle" data-toggle="tooltip" title="可以选择多个需要筛选的字段,不选则显示全部的字段修改记录"></i></label>
                            <select id = "s2base" DataKey = "SelectFields" class="form-control select2" multiple="multiple" data-placeholder="请选择要显示的字段" style="width: 100%;">
                            </select>
                        </div>

                        <!-- /.form-group -->
                        <div class="form-group">
                            <button onclick='page.Reset()' class='btn btn-danger pull-left'>重置</button>
                            <button onclick='page.Search()' class='btn btn-primary pull-right'>查询</button>
                        </div>
                    </div>


                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">完成数统计图</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body" >
                            <canvas id="stackedBar"></canvas>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box-header -->
                    <div id = "basetable" class="box-body">
                        <table id="mytable" class="table table-bordered table-hover">
                        </table>
                    </div>

                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<?template "footer.html".?>
