<?template "header.html".?>
<link rel="stylesheet" href="../cdn/plugins/bootstrap-table/bootstrap-table.min.css">
<link rel="stylesheet" href="../cdn/plugins/select2/select2.min.css">
<link rel="stylesheet" href="../cdn/dist/css/AdminLTE.min.css">
<script src="../cdn/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../cdn/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
<script src="../cdn/plugins/select2/select2.min.js"></script>
<script src="../cdn/plugins/select2/i18n/zh-CN.js"></script>
<script src="../cdn/js/project/index.js"></script>
<?template "project/left.html".?>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            项目列表
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"><button id="addporject" onclick='projectindex.Add("+value+")' class='btn btn-primary' style="display:none">添加项目</button></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="mytable" class="table table-bordered table-hover">
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>

    </section>
    <!-- /.content -->
</div>

<!--添加项目-->
<div class="modal" id="AddDialog" role="dialog"  aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">添加项目</h4>
            </div>
            <div class="modal-body">

                <form id = "AddForm" role="form">
                    <div class="form-group">
                        <label class="label">项目代码</label>
                        <input DataKey = "Code" type="text" maxlength="128" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="label">项目名称</label>
                        <input DataKey = "Name" type="text" maxlength="64" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="label">项目管理员</label>
                        <select id = "AdminId" DataKey = "AdminId" datatype="int" class="form-control select2" style="width: 100%;"></select>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button onclick="projectindex.OnAdd()" type="button" class="btn btn-primary">添加</button>
            </div>
            <div id = "AddmessageBox" class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!--删除角色-->
<div class="modal" id="DelDialog" role="dialog"  aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">确定要删除吗?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button onclick="projectindex.OnDel()" type="button" class="btn btn-danger" data-dismiss="modal">确认删除</button>
            </div>
        </div>
    </div>
</div>

<!--添加项目-->
<div class="modal" id="UpdateDialog" role="dialog"  aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">添加项目</h4>
            </div>
            <div class="modal-body">

                <form id = "UpdateForm" role="form">
                    <div class="form-group">
                        <label class="label">项目代码</label>
                        <input DataKey = "Code" type="text" maxlength="128" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="label">项目名称</label>
                        <input DataKey = "Name" type="text" maxlength="64" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="label">项目管理员</label>
                        <select id = "UpdateAdminId" DataKey = "AdminId" data-to-view-func="projectindex.AdminIDToView" datatype="int" class="form-control select2" style="width: 100%;"></select>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button onclick="projectindex.OnUpdate()" type="button" class="btn btn-primary">保存</button>
            </div>
            <div id = "UpdatemessageBox" class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- /.content-wrapper -->
<?template "footer.html".?>
