<script src="../cdn/js/project/left.js"></script>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="../cdn/dist/img/user2-160x160.jpg" class="img-circle" alt="UserImage">
            </div>
            <div class="pull-left info">
                <p id="LeftName"></p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
            </div>
        </div>

        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">功能</li>
            <!-- Optionally, you can add icons to the links -->
            <li id = "LeftProject"><a href="/project"><i class="fa fa-folder-open"></i> <span>项目列表</span></a></li>
            <li id = "LeftSyslogs" style="display:none"><a href="syslogs.html"><i class="fa fa-calendar-minus-o"></i> <span>系统日志</span></a></li>
            <!--<li id = "LeftSystemEng"><a href="SystemEng.html"><i class="fa fa-user-plus"></i> <span>系统集成经理</span></a></li>-->
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
<!-- Default to the left -->