<?template "header.html".?>
<link rel="stylesheet" href="../cdn/plugins/bootstrap-table/bootstrap-table.min.css">
<link rel="stylesheet" href="../cdn/plugins/select2/select2-fix-3.min.css">
<link rel="stylesheet" href="../cdn/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="../cdn/plugins/daterangepicker/daterangepicker.css">
<script src="../cdn/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../cdn/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
<script src="../cdn/plugins/select2/select2-fix-3.min.js"></script>
<script src="../cdn/plugins/select2/i18n/zh-CN.js"></script>
<script src="../cdn/plugins/daterangepicker/moment.min.js"></script>
<script src="../cdn/plugins/daterangepicker/zh-cn.js"></script>
<script src="../cdn/plugins/daterangepicker/daterangepicker.js"></script>
<?template "project/left.html".?>
<script src="../cdn/js/project/syslogs.js"></script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            系统日志
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div id = "wheres" class="box">
                    <div class="box-header">
                        <table  class="table table-striped row" style="margin-left: 2px">
                            <tr>
                                <th >时间范围<a href="#" onclick="page.reservationtimeClear()"><br>清空</a></th>
                                <th >
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <input id="reservationtime" type="text" DataKey = "RangeTime" class="form-control pull-right">
                                    </div>
                                </th>
                                <th >操作人</th>
                                <th>
                                    <select id = "UpUserJobNumber"  DataKey = "UpUserJobNumber"   class="select2 form-control" type="text"></select>
                                </th>
                                <th >操作类型</th>
                                <th>
                                    <select id = "Type" DataKey = "Type"  class="select2 form-control" type="text">
                                        <option value="">全部</option>
                                        <option value="用户登录">用户登录</option>
                                        <option value="新建用户">新建用户</option>
                                        <option value="密码修改">密码修改</option>
                                        <option value="修改工号">修改工号</option>
                                        <option value="重置密码">重置密码</option>
                                        <option value="账号启停">账号启停</option>
                                        <option value="用户添加权限">用户添加权限</option>
                                        <option value="用户删除权限">用户删除权限</option>
                                    </select>
                                </th>
                            </tr>
                        </table>

                            <!-- /.form-group -->
                            <div class="form-group">
                                <button onclick='page.Reset()' class='btn btn-danger pull-left'>重置</button>
                                <button onclick='page.Search()' class='btn btn-primary pull-right'>查询</button>
                            </div>
                    </div>

                    <!-- /.box-header -->
                    <div id = "basetable" class="box-body">
                        <table id="mytable" class="table table-bordered table-hover">
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<?template "footer.html".?>
